.p_1_main_text {
  font-family: "lemon";
  font-size: 100px;
  font-weight: 400;
  line-height: 120px;
  font-style: normal;
  text-align: center;
  color: #527c7b;
  animation: textMove 1s  ;


}
.p_1_paragraph_text {
  height: 165px;
  font-family: "poppins";
  font-size: 37px;
  font-weight: 400;
  line-height: 60px;
  font-style: normal;
  text-align: center;
  color: #527c7b;
  margin-top: 50px;
}
.clouds {
  position: relative;
  top: 70px;
  right: 40px;
  height: 10vh;
  animation: cloudsMove 1s  ;

}
.clouds img {
  width: 100%;
}
.traker_page{
  background-color: #e0fff2;
  border-radius: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: hidden;

}
.mood_mob_img {
  position: relative;
  top:40px;
  margin-left: 150px;
  width: 400px;
  transition: 0.4s ease-in-out;
  margin-top: 0px;
}
.traker_page:hover .mood_mob_img {
  top: 60px;
  transition: 0.4s ease-in-out;
}
.traker_page:hover {
  box-shadow: 0px 15px 20px rgba(62, 62, 62, 0.17);
  transition: 0.2s ease-in-out;
  background-color: #d9fced;
}
.mood_text {
  margin-top: 50px;
  margin-right: 40px;
  opacity: 0.64;
  font-family: "lemon";
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  font-style: normal;
  text-align: right;
  color: #527c7b;
}

.page_2{
  text-decoration: none !important;

}
.mood_text_para {
  margin-top: 15px;
  font-family: "poppins";
  font-size: 31px;
  font-weight: 400;
  font-style: normal;
  text-align: right;
  margin-right: 35px;
  color: #527c7b;
}
.spotify_container{
  border-radius: 100px;
  background: #d8ffe8;
  overflow: hidden;
  margin: 20px 0px;
  text-align: center;
  transition: 0.4s ease-in-out;
}


.spotify_text {
  margin-top: 35px;
  text-align: right;
  margin-right: 40px;
  opacity: 0.64;
  font-family: "lemon";
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  font-style: normal;
  color: #527c7b;
}
.spotify_text_para {
  margin-top: 15px;
  font-family: "poppins";
  font-size: 31px;
  text-align: right;
  font-weight: 400;
  font-style: normal;
  margin-right: 35px;
  color: #527c7b;
}

.spotify_img {
  width: 88%;
  position: relative;
  top: 20px;
  transition: 0.4s ease-in-out;
  padding-bottom: 70px;
}

.spotify_container:hover {
  box-shadow: 0px 15px 20px rgba(62, 62, 62, 0.17);
  transition: 0.2s ease-in-out;
  background: #d8ffe8;
}
.spotify_container:hover .spotify_img {
  top: 40px;
  transition: 0.4s ease-in-out;
}

.finance_container {
  border-radius: 100px;
  background: #eff7d5;
  overflow: hidden;
  margin: 20px 0px;
  text-align: center;
  transition: 0.4s ease-in-out;
}

.finance_text {
  margin-top: 35px;
  text-align: right;
  margin-right: 40px;
  opacity: 0.64;
  font-family: "lemon";
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  font-style: normal;
  color: #527c7b;
}
.finance_text_para {
  margin-top: 15px;
  font-family: "poppins";
  font-size: 31px;
  text-align: right;
  font-weight: 400;
  font-style: normal;
  margin-right: 35px;
  color: #527c7b;
}

.finance_img {
  width: 350px;
  position: relative;
  top: 100px;
  transition: 0.4s ease-in-out;
}

.finance_container:hover .finance_img {
  top: 120px;
  transition: 0.4s ease-in-out;
}
.finance_container:hover {
  box-shadow: 0px 15px 20px rgba(62, 62, 62, 0.17);
  transition: 0.2s ease-in-out;
  background: #eff7d5;
}

.layer_img_1 {
  margin-top: 90px;
  width: 340px;
  height: 110px;
}
.layer_img_2 {
  margin-top: 30px;
  width: 340px;
  height: 110px;
}
.finance_container,.spotify_container{
  padding-left: 20px;
  padding-right: 20px;
}
.copyright {
  font-family: "poppins";
  font-size: 35px;
  font-weight: 400;
  line-height: 35px;
  font-style: normal;
  color: #527c7b;
  margin-top: 100px;
  text-align: center;
}
.copyright span {
  color: #ffffff;
}

@keyframes textMove {
  0%{
    opacity: 0;
    position: relative;
    top: 20px;
    
  }
  100%{
    opacity: 1;
    position: relative;
    top: 0px;

  }
  }
@keyframes cloudsMove {
  0%{
    opacity: 0;
    position: relative;
    top: 70px;
    left: -200px;
    
  }
  100%{
    opacity: 1;
    position: relative;
    top: 70px;
    left: -40px;
  

  }
  }
  
/* Responsive Design */

@media only screen and (max-width: 1300px) {
  .clouds {
    display: none;
  }
}

@media only screen and (max-width: 1190px) {
  .mood_mob_img {
    margin-left: 80px;
  }
}
@media only screen and (max-width: 978px) {
  .mood_mob_img {
    margin-left: 70px;
    width: 320px;
  }
  .layer_img_1,.layer_img_2 {
    width: 270px;
    height: 84px;
}
  .p_1_main_text {
    font-size: 90px;
  }

  .mood_text {
    font-size: 35px;
  }
  .mood_text_para {
    margin-top: 0px;
    font-size: 25px;
  }

  .spotify_text {
    font-size: 35px;
  }
  .spotify_text_para {
    font-size: 25px;
    margin-top: 0px;
  }
  .finance_text {
    font-size: 35px;
  }
  .finance_text_para {
    font-size: 25px;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 769px) {
  .copyright {
    font-size: 25px;
    line-height: 10px;
    margin-top: 70px;
}
  
  .layer_img_1,.layer_img_2 {
    display: none;
}
.mood_mob_img {
  top: 60px;
}
.finance_img {
  width: 300px;
}

.traker_page:hover .mood_mob_img {
  top: 80px;
}
  .p_1_main_text {
    font-size: 50px;
  }
  .p_1_main_text {
    line-height: 70px;
  }
  .p_1_paragraph_text {
    height: auto;
    font-size: 22px;
    line-height: 40px;
    margin-top: 26px;
  }
  .mood_text {
    text-align: right;
    float: initial;
  }
  .spotify_container {
    border-radius: 50px;
    margin: 20px 0px;
}
.finance_img {
  top: 30px;
}

.finance_container:hover .finance_img {
  top: 50px;
}
.finance_container{
    border-radius: 50px;

  }

}
@media only screen and (max-width: 550px) {
  .traker_page{
    border-radius: 50px;
  }
  .mood_mob_img {
    margin-left: 0px;
    width: 222px;
  }
  .mood_img_col{
    text-align: center;
  }
  
  .finance_img {
    width: 250px;
  }
  .copyright {
    font-size: 18px;
    line-height: 10px;
    margin-top: 70px;
}
  
}
  @media only screen and (max-width: 470px) {
  .spotify_text {
    font-size: 28px;
  }
  .spotify_text_para {
    font-size: 20px;
  }
  .finance_text {
    font-size: 28px;
  }
  .finance_text_para {
    font-size: 20px;
  }
  .mood_text {
    font-size: 28px;
  }
  .mood_text_para {
    font-size: 20px;
  }

}
