@import url("https://fonts.googleapis.com/css2?family=Lemon&family=Poppins&display=swap");
.App {
  background: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-left: 80px;
  padding-right: 80px;
  background-position: top left;
  animation: bgMove 10s infinite;
}
@keyframes bgMove {
  25% {background-position: bottom right;}
  50% {background-position: center;}
  70% {background-position: top right;}
}
/* Responsive Layout */
@media only screen and (max-width: 1320px) {
  .App {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 470px) {
  .App {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }
}
